{% load static %}
<section id="about">

			<!-- Container -->
			<div class="container">

				<!-- Page Title -->
				<div class="page_title">
					<h2>Services</h2>
				</div><!-- //Page Title -->

				<!-- Row -->
				<div class="row">
					<div class="services_wrap">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12">
							<div class="service_item padbot40">
								<i>01</i>
								<h4>Premium Wine</h4>
								<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							</div>
							<div class="service_item padbot40">
								<i>03</i>
								<h4>White Wine</h4>
								<span>Contrary to popular belief, Lorem Ipsum is not simply random text.</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12">
							<div class="service_item padbot40">
								<i>02</i>
								<h4>Red Wine</h4>
								<span>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</span>
							</div>
							<div class="service_item padbot40">
								<i>04</i>
								<h4>Champagne</h4>
								<span>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus</span>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 padbot30 services_img">
							<img src={% static "images/services_img.png" %} alt="" />
						</div>
					</div>
				</div><!-- //Row -->
			</div><!-- //Container -->
		</section>