{% load static %}
<footer>

			<!-- CONTAINER -->
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 padbot30">
						<div class="widget widget_text">
							<h4>About</h4>
							<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse non nulla in risus pretium ornare. Sed non mi tortor. Mauris sodales semper suscipit.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 padbot30">
						<div class="widget widget_links">
							<h4>Useful links</h4>
							<ul>
								<li><a href="javascript:void(0);">New resources</a></li>
								<li><a href="javascript:void(0);">About our company</a></li>
								<li><a href="javascript:void(0);">What we do</a></li>
								<li><a href="javascript:void(0);">Latest Updates</a></li>
							</ul>
						</div>
					</div>

					<div class="widgets_clear clear"></div>

					<div class="col-lg-3 col-md-3 col-sm-6 padbot30">
						<div class="widget widget_links">
							<h4>My Account</h4>
							<ul>
								<li><a href="javascript:void(0);">My account</a></li>
								<li><a href="javascript:void(0);">Order History</a></li>
								<li><a href="javascript:void(0);">Wish List</a></li>
								<li><a href="javascript:void(0);">Newsletter</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 padbot30">
						<div class="widget widget_contact_inf">
							<h4>Newsletter</h4>
							<p>Vestibulum sem nulla, euismod ac facilisis in, condimentum adipiscing urna. Ut at</p>
							<div class="newsletter_form">
								<form action="">
									<input type="text" name="email" value="Enter your Email..." onFocus="if (this.value == 'Enter your Email...') this.value = '';" onBlur="if (this.value == '') this.value = 'Enter your Email...';" />
									<input type="submit" value="Submit" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //CONTAINER -->

			<div id="copyright">
				<div class="container">
					<div class="pull-left"><span>Sicilia</span> © 2020 | Privacy Policy</div>
					<div class="pull-right social">
						<a href={% static "javascript:void(0);" %}><i class="fa fa-vimeo-square"></i></a>
						<a href={% static "javascript:void(0);" %}><i class="fa fa-twitter"></i></a>
						<a href={% static "javascript:void(0);" %}><i class="fa fa-tumblr"></i></a>
						<a href={% static "javascript:void(0);" %}><i class="fa fa-facebook-square"></i></a>
						<a href={% static "javascript:void(0);" %}><i class="fa fa-google-plus-square"></i></a>
						<a href={% static "javascript:void(0);" %}><i class="fa fa-linkedin-square"></i></a>
						<a href={% static "javascript:void(0);" %}><i class="fa fa-dribbble"></i></a>
					</div>
				</div>
			</div>
		</footer>