{% load static %}
<header>
			<div class="container">
				<div class="logo"><img src={% static "images/logo.png" %} alt="" /></div>

				<div class="main_menu">
					<ul>
						<li class="active scroll_btn"><a href="#home">Главная</a></li>
						<li class="scroll_btn"><a href="#about">Про Нас</a></li>
						<li class="scroll_btn"><a href="#products">Продукты</a></li>
						<li class="scroll_btn"><a href="#testimonials">Отзывы</a></li>
						<li class="scroll_btn"><a href="#news">Новости</a></li>
						<li class="scroll_btn"><a href="#contacts">Контакты</a></li>
					</ul>
				</div><!-- //MENU -->
			</div>
		</header>