{% load static %}
<section id="home" class="pad0">
			<div class="flexslider top_slider">
				<ul class="slides">
					<li class="slide1">
						<div class="container">
							<div class="top_slider_cap center">
								<h1>20% скидка при покупке вина</h1>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
								<a class="slide_btn" href="javascript:void(0);">More</a>
							</div>
						</div>
					</li>
					<li class="slide2">
						<div class="container">
							<div class="top_slider_cap center">
								<h1>Lorem ipsum dolor sit amet</h1>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
								<a class="slide_btn" href="javascript:void(0);">About Us</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>