{% extends "base.html" %}

{% block header_block %}
    {% include "header.html" %}
{% endblock %}

{% block home_block %}
    {% include "home.html" %}
{% endblock %}

{% block about_block %}
    {% include "about.html" %}
{% endblock %}

{% block visit_block %}
    {% include "visit.html" %}
{% endblock %}

{% block products_block %}
    {% include "products.html" %}
{% endblock %}

{% block testimonials_block %}
    {% include "testimonials.html" %}
{% endblock %}

{% block news_block %}
    {% include "news.html" %}
{% endblock %}

{% block contacts_block %}
    {% include "contacts.html" %}
{% endblock %}

{% block footer_block %}
    {% include "footer.html" %}
{% endblock %}