{% load static %}
<section id="news">

			<!-- Container -->
			<div class="container">

				<!-- Page Title -->
				<div class="page_title">
					<h2>Blog</h2>
				</div><!-- //Page Title -->

				<!-- Row -->
				<div class="row">
					<div class="col-lg-6 col-md-6 padbot30">
						<div class="post_item clearfix">
							<a class="post_img" href="javascript:void(0);"><img src={% static "images/news/1.jpg" %} alt="" /></a>
							<h4 class="post_title"><a href="javascript:void(0);">Lorem Ipsum is simply dummy text </a></h4>
							<div class="post_meta">
								<span><i class="fa fa-calendar"></i>May 17</span>
								<span><i class="fa fa-comments"></i>11 Comments</span>
							</div>
							<div class="post_exp"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p></div>
							<a class="post_btn_more" href="javascript:void(0);">Read More</a>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 padbot30">
						<div class="post_item clearfix">
							<a class="post_img" href="javascript:void(0);"><img src={% static "images/news/2.jpg" %} alt="" /></a>
							<h4 class="post_title"><a href="javascript:void(0);">Lorem Ipsum is simply dummy text </a></h4>
							<div class="post_meta">
								<span><i class="fa fa-calendar"></i>May 17</span>
								<span><i class="fa fa-comments"></i>11 Comments</span>
							</div>
							<div class="post_exp"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p></div>
							<a class="post_btn_more" href="javascript:void(0);">Read More</a>
						</div>
					</div>
				</div><!-- //Row -->
			</div><!-- //Container -->
		</section>