{% load static %}
<section id="products">

			<!-- Container -->
			<div class="container">

				<!-- Page Title -->
				<div class="page_title">
					<h2>Featured Products</h2>
				</div><!-- //Page Title -->

				<!-- Row -->
				<div class="row padbot20">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot50">
						<div class="gallery_item center">
							<a class="gallery_img" href={% static "images/products/1.png" %} rel="prettyPhoto[portfolio1]"><img src={% static "images/products/1.png" %} alt="" /></a>
							<h4 class="gallery_title"><a href="javascript:void(0);">Lorem Ipsum is simply</a></h4>
							<div class="product_rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</span>
							<div class="product_price">120$</div>
							<a class="gallery_btn" href="javascript:void(0);">Add to Cart</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot50">
						<div class="gallery_item center">
							<a class="gallery_img" href={% static "images/products/2.png" %} rel="prettyPhoto[portfolio1]"><img src={% static "images/products/2.png" %} alt="" /></a>
							<h4 class="gallery_title"><a href="javascript:void(0);">Lorem Ipsum is simply</a></h4>
							<div class="product_rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<span>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</span>
							<div class="product_price">120$</div>
							<a class="gallery_btn" href="javascript:void(0);">Add to Cart</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot50">
						<div class="gallery_item center">
							<a class="gallery_img" href={% static "images/products/3.png" %} rel="prettyPhoto[portfolio1]"><img src={% static "images/products/3.png" %} alt="" /></a>
							<h4 class="gallery_title"><a href="javascript:void(0);">Lorem Ipsum is simply</a></h4>
							<div class="product_rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-full"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<span>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those</span>
							<div class="product_price">120$</div>
							<a class="gallery_btn" href="javascript:void(0);">Add to Cart</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot50">
						<div class="gallery_item center">
							<a class="gallery_img" href={% static "images/products/4.png" %} rel="prettyPhoto[portfolio1]"><img src={% static "images/products/4.png" %} alt="" /></a>
							<h4 class="gallery_title"><a href="javascript:void(0);">Lorem Ipsum is simply</a></h4>
							<div class="product_rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-full"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</span>
							<div class="product_price">120$</div>
							<a class="gallery_btn" href="javascript:void(0);">Add to Cart</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot50">
						<div class="gallery_item center">
							<a class="gallery_img" href={% static "images/products/5.png" %} rel="prettyPhoto[portfolio1]"><img src={% static "images/products/5.png" %} alt="" /></a>
							<h4 class="gallery_title"><a href="javascript:void(0);">Lorem Ipsum is simply</a></h4>
							<div class="product_rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<span>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</span>
							<div class="product_price">120$</div>
							<a class="gallery_btn" href="javascript:void(0);">Add to Cart</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-ss-12 padbot50">
						<div class="gallery_item center">
							<a class="gallery_img" href={% static "images/products/6.png" %} rel="prettyPhoto[portfolio1]"><img src={% static "images/products/6.png" %} alt="" /></a>
							<h4 class="gallery_title"><a href="javascript:void(0);">Lorem Ipsum is simply</a></h4>
							<div class="product_rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<span>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those</span>
							<div class="product_price">120$</div>
							<a class="gallery_btn" href="javascript:void(0);">Add to Cart</a>
						</div>
					</div>
				</div><!-- //Row -->
			</div><!-- //Container -->
		</section>