{% load static %}
<section id="testimonials">
			<div class="container">

				<!-- Page Title -->
				<div class="page_title center">
					<h2>They Say</h2>
				</div><!-- //Page Title -->

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 padbot30">
						<div class="testimonials_item">
							<div class="testimonials_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</div>
							<img class="testim_foto" src={% static "images/testim_author1.jpg" %} alt="" />
							<div class="testim_author_inf">
								<span>Amanda Smith,</span>
								designer
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 padbot30">
						<div class="testimonials_item">
							<div class="testimonials_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</div>
							<img class="testim_foto" src={% static "images/testim_author2.jpg" %} alt="" />
							<div class="testim_author_inf">
								<span>Amanda Smith,</span>
								designer
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</section>