<section id="visit_block">
			<div class="container">
				<div class="visit_block_text">
					<h1>Wine, like women, get better with age!</h1>
					<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the<br>
					years, sometimes by accident, sometimes</p>
				</div>
				<a class="visit_btn" href="javascript:void(0);">Visit Us Now!</a>
			</div>
		</section>